<!DOCTYPE html>
<html lang="en" ng-app="angularjsNodejsTutorial">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Urban Well Being: Don't-go restaurant!</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="javascripts/app.js" type="text/javascript"></script>
    <!-- Custom styles for this template-->
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/avoids.css" rel="stylesheet">
  </head>

  <body ng-controller="avoidsController">
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-custom">
      <span class="navbar-brand center">Urban Well Being</span>
        <ul class="navbar-nav">
          <li><a class="nav-item nav-link" href="/">Dashboard/Cuisines</a></li>
          <li><a class="nav-item nav-link active" href="/avoids">Don't-Go Restaurant</a></li>
          <li><a class="nav-item nav-link" href="/collision">Collision Restaurant Subdivision</a></li>
        </ul>
    </nav>

    <!-- Sample Content. You can either use this or make your own -->
    <div class="container avoidRestaurant-container">
      <div class="jumbotron">
        <div class="h5">Don't-Go Restaurant</div>
        <div class=" neighborhood-container">
          <div class="dropdown-container">
            <select class="dropdown" id="boroDropdown" ng-model="selectedBoro" ng-options="o.boro for o in options"></select>
          </div>
          <button class="submit-btn" id="boroSubmitBtn" ng-click="submitBoro()">Submit</button>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <input type="text" ng-model="RestaurantName" placeholder="Enter Restaurant Name" id="restaurantName" class="restaurant-input"/>
            <button id="cuisineDataBtn" class="submit-btn" ng-click="cuisineData()">Show Violations</button>
        </div>
        <div class="h5">You may want to avoid...</div>
      </div>
        <div class="jumbotron">
        <div class="output-container">
          <div class="restaurant">
            <table class="table table-bordered table-striped" data-pagination="true" data-side-pagination="client" data-page-size="3">
              <thead>
                <tr>
                  <th>
                    <a href="#" ng-click="sortType = 'NAME'; sortReverse = !sortReverse">
                      Name <span ng-show="sortType == 'NAME'"><span ng-show="!sortReverse">&#9650;</span><span ng-show="sortReverse">&#9660;</span></span>
                    </a>
                  </th>
                  <th>
                    <a href="#" ng-click="sortType = 'CUISINE_DESCRIPTION'; sortReverse = !sortReverse">
                      Cuisine Description <span ng-show="sortType == 'CUISINE_DESCRIPTION'"><span ng-show="!sortReverse">&#9650;</span><span ng-show="sortReverse">&#9660;</span></span>
                    </a>
                  </th>
                  <th>
                    <a href="#" ng-click="sortType = 'INSPECTION_DATE'; sortReverse = !sortReverse">
                      Inspection Date <span ng-show="sortType == 'INSPECTION_DATE'"><span ng-show="!sortReverse">&#9650;</span><span ng-show="sortReverse">&#9660;</span></span>
                    </a>
                  </th>
                  <th>
                    <a href="#" ng-click="sortType = 'CRITICAL_FLAG'; sortReverse = !sortReverse">
                      Critical Flag <span ng-show="sortType == 'CRITICAL_FLAG'"><span ng-show="!sortReverse">&#9650;</span><span ng-show="sortReverse">&#9660;</span></span>
                    </a>
                  </th>
                  <th>
                    <a href="#" ng-click="sortType = 'LOW'; sortReverse = !sortReverse">
                      Inspection Score <span ng-show="sortType == 'LOW'"><span ng-show="!sortReverse">&#9650;</span><span ng-show="sortReverse">&#9660;</span></span>
                    </a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="l in locationInfo | orderBy:sortType:sortReverse" ng-mouseover="hoverIn(cuisine)" ng-mouseleave="hoverOut(cuisine)">
                  <td>{{l.NAME}}</td>
                  <td>{{l.CUISINE_DESCRIPTION}}</td>
                  <td>{{l.INSPECTION_DATE}}</td>
                  <td>{{l.CRITICAL_FLAG}}</td>
                  <td>{{l.LOW}}</td>
  <!-- NEEEEDDDD TOOLTIP -->
  <!--                 <div ng-if="hoverNow == true">
                    <div class="h5">TEXT</div>>
                  </div> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="jumbotron">
        <div class="output-container">
          <div class="restaurant">
            <table class="table table-bordered table-striped" data-pagination="true" data-side-pagination="client" data-page-size="3">
              <thead>
                <tr>
                  <th>
                    <a href="#" ng-click="sortType = 'COUNT'; sortReverse = !sortReverse">
                      Number Of Violations <span ng-show="sortType == 'COUNT'"><span ng-show="!sortReverse">&#9650;</span><span ng-show="sortReverse">&#9660;</span></span>
                    </a>
                  </th>
                  <th>
                    <a href="#" ng-click="sortType = 'VIOLATION_DESCRIPTION'; sortReverse = !sortReverse">
                      Violation Description <span ng-show="sortType == 'VIOLATION_DESCRIPTION'"><span ng-show="!sortReverse">&#9650;</span><span ng-show="sortReverse">&#9660;</span></span>
                    </a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="v in violationInfo | orderBy:sortType:sortReverse" ng-mouseover="hoverIn(cuisine)" ng-mouseleave="hoverOut(cuisine)">
                  <td>{{v.COUNT}}</td>
                  <td>{{v.VIOLATION_DESCRIPTION}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

  </div>
    <!-- Include these before the end of body tag in every HTML file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>

</html>
