.avoidRestaurant-container {
  margin-left: 250px;
  margin-top: 2rem;
}

.neighborhood-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.neighborhood-container .dropdown-container {
  height: 30px;
  overflow: hidden;
  width: 140px;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  border: 1px solid #bbb;
}
.neighborhood-container .dropdown {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  width: 268px;
  outline: none;
}

.neighborhood-container .submit-btn {
  margin-left: 10px;
  height: 30px;
  border: none;
  padding: 2px 16px;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
  background: #bd54a4;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}

.neighborhood-container .submit-btn:hover {
  background: #c561ae;
}

.neighborhood-container .submit-btn:active {
  background: #d86bbe;
}
/* .centered {
  margin: 10px 0;
  height: 36px;
  border: none;
  padding: 2px 16px;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
} */
.output-container {
  display: flex;
  flex-flow: column wrap;
  margin-top: 10px;
}
.output-container .avoid {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
  padding: 0 10px;
}

.avoid .header, .avoid .Name, .avoid .Cuisine_Description, .avoid .Inspection_Date, .avoid .Critical_Flag, .avoid .Inspection_Score {
  flex: 1 0 25%;
}
